# Pliki binarne i katalogi kompilacji
bin/
obj/
*.exe
*.dll
*.pdb
*.cache
*.log

# Pliki generowane przez Visual Studio
.vs/
*.suo
*.user
*.ide

# Pliki zależności i tymczasowe
packages/
*.nupkg
project.lock.json
*.csproj.user

# Pliki systemowe
Thumbs.db
Desktop.ini

# Pliki konfiguracji IDE
*.vscode/
*.swp

# Sekrety użytkownika (jeśli używasz user-secrets w .NET Core)
secrets.json

# Pliki publikacji
publish/
